<nav class="navbar navbar-dark bg-primary navbar-expand-xl">
  <div class="container">
    <a href="/">
      <img id="brandimg" class="navbar-btn" alt="brand" src="/favicon-96x96.png">
    </a>
    <div class="ml-auto">
      <% if(user && user.username) { %>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle nav-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-user"></span></a>
          <div class="dropdown-menu dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="/<%= user.username %>/"><strong><%= user.username %></strong></a>
            <a class="dropdown-item" href="/settings/"><span class="fas fa-cog"></span> Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout/">Sign Out</a>
          </ul>
        </div>
      <% } else if(!user || !user.hide){ %>
        <div class="ml-auto">
          <a class="btn btn-secondary navbar-btn" href="/login/">Sign In</a>
          <a class="btn btn-success navbar-btn" href="/register/">Register</a>
        </div>
      <% } %>
    </div>
  </div>
</nav>
<style>
  #brandimg {
    border-radius: 2em;
    height: 2.7em;
  }
  .dropdown-toggle {
    color: white;
  }
</style>
