<nav class="navbar navbar-inverse navbar-fixed">
  <div class="container">
    <div class="navbar-header pull-left">
      <a href="/">
        <img id="brandimg" class="navbar-btn" alt="brand" src="/favicon-96x96.png">
      </a>
    </div>
  </div>
</nav>
<style>
  #brandimg {
    border-radius: 2em;
    height: 2.7em;
  }
  .navbar-header {
    padding-left: 0.5em;
  }
</style>
