<div ng-hide="descriptionCtrl.trackJSON">
  <br>
  <h4 class="text-info text-center">Enter a URL in the <strong>Link</strong> tab <span ng-show="user.loggedIn">or select a track from the <strong> Tracks </strong> tab</span> to view its description.</h4>
</div>
<section ng-show="descriptionCtrl.trackJSON">
  <div ng-show="descriptionCtrl.trackJSON.error">
    <h4 class="text-danger">{{descriptionCtrl.trackJSON.error}}</h4>
    <code>Error {{descriptionCtrl.trackJSON.code}}</code>
  </div>
  <div ng-hide="descriptionCtrl.trackJSON.error">
    <br>
    <div uib-alert class="alert alert-dismissible alert-success" close="descriptionCtrl.dismissAlert()" ng-show="descriptionCtrl.showAlert">
      <a class="alert-link" href="/login/?hash={{descriptionCtrl.trackJSON.id}}">Sign in</a> or <a class="alert-link" href="/register/?hash={{descriptionCtrl.trackJSON.id}}">create an account</a> to save this track for later!
    </div>
    <div class="row" id="trackTitle">
      <div class="col-sm-10 col-sm-push-2">
        <h3>{{descriptionCtrl.trackJSON.title}}</h3>
        <h4>by
          <a target="_blank" ng-href="{{descriptionCtrl.trackJSON.user.permalink_url}}">{{descriptionCtrl.trackJSON.user.username}}</a>
        </h4>
        <h6>
          <a target="_blank" ng-href="{{descriptionCtrl.trackJSON.download_url + '?client_id=30cba84d4693746b0a2fbc0649b2e42c'}}" ng-show="descriptionCtrl.trackJSON.downloadable">Download</a>
          <span ng-show="descriptionCtrl.trackJSON.downloadable && descriptionCtrl.trackJSON.purchase_title"> | </span>
          <a target="_blank" ng-href="{{descriptionCtrl.trackJSON.purchase_url}}">{{descriptionCtrl.trackJSON.purchase_title}}</a>
        </h6>
        <span ng-hide="descriptionCtrl.tags[0] === ''">Tags:<span>
        <span ng-repeat="tag in descriptionCtrl.tags track by $index"><span class="label label-primary">{{tag}}</span> </span>
      </div>
      <br>
      <div class="col-sm-2 col-sm-pull-10">
        <a href="{{descriptionCtrl.imgURL}}" target="_blank">
          <img class="img-responsive center-block" ng-src="{{descriptionCtrl.imgURL}}">
        </a>
      </div>
    </div>
      <hr>
    <p ng-repeat="paragraph in descriptionCtrl.html track by $index" ng-bind-html="paragraph"></p>
    <br>
    <h6 title="{{descriptionCtrl.postDate | date:'medium'}}">POSTED ON: {{descriptionCtrl.postDate | date: 'mediumDate'}}</h6>

    <button class="btn btn-success" ng-show="user.loggedIn && !tracks.includes(descriptionCtrl.trackJSON.id.toString())" ng-click="descriptionCtrl.addTrackToList(descriptionCtrl.trackJSON)">+ Add Track To List</button>
    <button class="btn btn-default disabled" ng-show="user.loggedIn && tracks.includes(descriptionCtrl.trackJSON.id.toString())"><span class="glyphicon glyphicon-ok"></span> Track Added To List</button>
    <br>
  <div class="row">
    <div class="col-xs-6">
      <button class="btn-link" ng-click="descriptionCtrl.toggleJSON()">Raw Track Info</button>
    </div>
    <div class="col-xs-6">
      <a href="{{ descriptionCtrl.trackJSON.permalink_url }}" target="_blank"><img class="pull-right" src="https://developers.soundcloud.com/assets/logo_black-8c4cb46bf63fda8936f9a4d967416dc6.png"></a>
    </div>
  </div>
    <pre ng-show="descriptionCtrl.showJSON"><code>{{descriptionCtrl.trackJSON | json}}</code></pre>
  </div>
</section>
