<div class="modal-header">
  <h3 class="modal-title">Edit Track</h3>
</div>
<div class="modal-body">
  <form>
    <fieldset>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" ng-model="vm.submitInfo.title">
      </div>
      <div class="form-group">
        <label for="artist">Artist</label>
        <input class="form-control" type="text" name="artist" ng-model="vm.submitInfo.artist">
      </div>
      <div class="form-group">
        <label for="releaseDate">Release Date</label>
        <input class="form-control" type="date" name="releaseDate" placeholder="yyyy-mm-dd" ng-model="vm.submitInfo.releaseDate">
      </div>
    </fieldset>
  </form>
  <div>
    <button class="btn btn-default" ng-if="!vm.submitInfo.isFavorite" ng-click="vm.updateFavorite(true)" title="Click to favorite this track"><span class="glyphicon glyphicon-star-empty"></span> Favorite</button>
    <button class="btn btn-primary" ng-if="vm.submitInfo.isFavorite" ng-click="vm.updateFavorite(false)" title="Click to unfavorite this track"><span class="glyphicon glyphicon-star"></span> Favorite</button>
  </div>
  <br>
  <button class="btn btn-danger btn-block" ng-click="vm.delete()">Delete Track</button>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit" ng-click="vm.ok()">Save</button>
  <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
