<form ng-submit="descriptionCtrl.submit()">
  <h3>Enter a track link below to get started</h3>
  <fieldset>
    <div class="form-group" ng-class="{'has-error': descriptionCtrl.trackJSON.code === 404, 'has-warning': descriptionCtrl.trackJSON.code === 403}">
      <label for="url">SoundCloud® URL</label>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="icon icon-soundcloud"></span>
        </span>
        <input class="form-control has-feedback" type="url" name="url" ng-model="descriptionCtrl.url" placeholder="https://soundcloud.com/...">
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-click="descriptionCtrl.url = ''"></span>
      </div>
    </div>
  </fieldset>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
<div ng-show="descriptionCtrl.trackJSON.error">
  <h4 class="text-danger">{{descriptionCtrl.trackJSON.error}}</h4>
  <code>Error {{descriptionCtrl.trackJSON.code}}</code>
</div>
