<ul class="nav nav-pills">
  <li role="presentation" ng-class="{active: panelCtrl.currentPanel(2)}"><a ng-click="setPanel(2)">Description</a></li>
  <li role="presentation" ng-class="{active: panelCtrl.currentPanel(3)}" ng-show="user.loggedIn"><a ng-click="panelCtrl.allTracks()">Tracks <span class="badge">{{ trackIDList.length }}</span></a></li>
  <li role="presentation" ng-class="{active: panelCtrl.currentPanel(4)}" ng-show="user.loggedIn"><a ng-click="panelCtrl.favorites()">Favorites <span class="badge">{{ numOfFavTracks }}</span></a></li>
</ul>
