<div id="resume" class="alert alert-dismissible" ng-if="resumeCtrl.visible">
  <button type="button" class="close" ng-click="resumeCtrl.hide()">&times;</button>
  <h6 class="text-muted" id="resume-header">LAST OPENED TRACK</h6>
  <hr id="resume-divider">
  <div class="row">
    <div class="col-sm-3 col-xs-4">
      <a href="/#!/{{user.resumeTrack}}" ng-click="resumeCtrl.hide()"><img class="img-responsive" id="resume-img" src="/apple-touch-icon-152x152.png" ng-src="{{ resumeCtrl.trackInfo.artwork_url.replace('large', 't300x300') }}"></a>
    </div>
    <div class="col-sm-9 col-xs-8">
      <a class="btn-link" href="/#!/{{user.resumeTrack}}" ng-click="resumeCtrl.hide()"><h5>{{ resumeCtrl.trackInfo.title }}</h5></a>
      <h6>{{ resumeCtrl.trackInfo.user.username }}</h6>
    </div>
  </div>
</div>
