<section>
  <br>
  <div ng-hide="trackCtrl.trackList.length">
    <h4 class="text-center text-info">The list is empty</h4>
  </div>
  <div ng-show="trackCtrl.trackList.length">
    <div class="btn-group hidden-xs pull-right" id="sizeTester">
        <label class="btn btn-xs btn-default" ng-model="trackCtrl.displayMode" uib-btn-radio="'Table'">Table <span class="icon icon-table"></span></label>
        <label class="btn btn-xs btn-default" ng-model="trackCtrl.displayMode" uib-btn-radio="'Block'">Block <span class="icon icon-bars"></span></label>
    </div>
    <div class="input-group">
      <span class="input-group-addon" ng-click="trackCtrl.toggleSearch()"><span class="glyphicon glyphicon-search"></span></span>
      <div>
        <div uib-collapse="trackCtrl.searchCollapsed" horizontal expanded="trackCtrl.focus()" id="search">
          <input class="form-control has-feedback" id="trackSearch" type="search" ng-model="query">
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-click="query = ''"></span>
        </div>
      </div>
    </div>
    <!-- <pre><code>{{ trackCtrl.favoritesList | json}}</code></pre> -->
    <div class="table-responsive" ng-show="trackCtrl.currentMode('Table')">
      <br>
      <table class="table" ng-show="filteredTracks.length">
        <tr>
          <th>Track Name</th>
          <th>Artist</th>
          <th class="text-center">Release Date</th>
          <th class="text-center">Edit</th>
        </tr>
        <tr ng-repeat="track in filteredTracks = (trackCtrl.trackList | filter:query) | orderBy:'releaseDate'">
          <h4 class="text-info" ng-hide="filteredTracks.length">No results</h4>
          <td><a class="btn-link" ng-click="getDescription(track.trackID)" id="{{ track.trackID + 't'}}">{{ track.title }}</a></td>
          <td>{{ track.artist }}</td>
          <td class="text-center">{{ track.releaseDate | date: 'longDate'}}</td>
          <td class="text-center"><a class="btn-link" ng-click="trackCtrl.editTrack(track)"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
      </table>
    </div>
    <div ng-show="trackCtrl.currentMode('Block')">
      <div ng-repeat="track in filteredTracks | orderBy:'releaseDate'">
        <div>
          <h3 class="text-primary track-link" id="{{ track.trackID + 'b'}}" ng-click="getDescription(track.trackID)">{{ track.title }}</h3>
          <h5>{{ track.artist }}</h5>
          <h6>{{ track.releaseDate | date: 'longDate' }}</h6>
          <button class="btn btn-xs btn-primary" ng-click="trackCtrl.editTrack(track)"><span class="glyphicon glyphicon-pencil"></span> Edit Info</button>
          <hr>
        </div>
      </div>
      <h4 class="text-info" ng-hide="filteredTracks.length">No results</h4>
    </div>
    <button class="btn-link" ng-click="trackCtrl.toggleJSON()">View JSON</button>
    <div ng-show="trackCtrl.showJSON">
      <pre><code>{{trackCtrl.trackList | json}}</code></pre>
    </div>
  </div>
</section>
