<style>
 #search {
   height: 2.25em;
 }
</style
<section>
  <br>
  <div ng-hide="trackCtrl.result.tracks.length">
    <h4 class="text-center text-info">The list is empty</h4>
  </div>
  <div ng-show="trackCtrl.result.tracks.length">
    <div class="input-group">
      <span class="input-group-addon" ng-click="trackCtrl.toggleSearch()"><span class="glyphicon glyphicon-search"></span></span>
      <div>
        <input class="form-control" ng-hide="inputHide" id="search" uib-collapse="trackCtrl.searchCollapsed" horizontal collapsed="inputHide = true" expanding="inputHide = false" type="text" ng-model="query">
      </div>
    </div>
    <div class="table-responsive hidden-xs">
      <table class="table">
        <tr>
          <th>Track Name</th>
          <th>Artist</th>
          <th class="text-center">Release Date</th>
          <th class="text-center">Description</th>
          <th class="text-center">Edit</th>
        </tr>
        <tr ng-repeat="track in trackCtrl.result.tracks | filter:query | orderBy:'releaseDate'">
          <td>{{ track.title }}</td>
          <td>{{ track.artist }}</td>
          <td class="text-center">{{ track.releaseDate | date: 'longDate'}}</td>
          <td class="text-center"><a class="btn-link" ng-click="getDescription(track.trackID)">View</a></td>
          <td class="text-center"><a class="btn-link" ng-click="trackCtrl.editTrack(track)">✎</a></td>
        </tr>
      </table>
    </div>
    <div class="visible-xs">
      <div ng-repeat="track in trackCtrl.result.tracks | filter:query | orderBy:'releaseDate'">
        <h3 class="text-primary">{{ track.title }}</h3>
        <h5>{{ track.artist }}</h5>
        <h6>{{ track.releaseDate | date: 'longDate' }}</h6>
        <button class="btn btn-xs btn-primary" ng-click="getDescription(track.trackID)">Description</button>
        <button class="btn btn-xs btn-default" ng-click="trackCtrl.editTrack(track)">Edit Info</button>
        <hr>
      </div>
    </div>
    <button class="btn-link" ng-click="trackCtrl.toggleJSON()">View JSON</button>
    <div ng-show="trackCtrl.showJSON">
      <pre><code>{{trackCtrl.result.tracks | json}}</code></pre>
    </div>
  </div>
</section>
