#brandimg {
  height: 2.7em;
  border-radius: 2em;
}
#scrollToTop {
  position: fixed;
  bottom: 3em;
  right: 1em;
}
#search {
  height: 2.25em;
}
#resume {
  min-width: 25%;
  max-width: 75%;
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.9);
  border: .5px solid gray;
  border-left: 5px solid rgb(67, 172, 106);
  position: fixed;
  bottom: 0;
  right: 0;
}

.icon-soundcloud {
  color: #f50;
}
.input-group {
  width: 100%;
}
.form-control-feedback {
 z-index: 10;
 pointer-events: auto;
 cursor: pointer;
}
.navbar-header {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.navbar-fixed {
  margin-bottom: 0;
}
/* Prevent fields from zooming in on mobile */
.form-control:focus, .form-control:hover {
  font-size: 1.1em;
}
.track-link:hover {
  text-decoration: underline;
}

.loading-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(22, 22, 22, 0.4);
  z-index: 5;
}
.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #008cba;
}
.loading .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.loading .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.loading .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}
